.theme-dark img[alt*="supernote-invert-dark"] {
    filter: invert(1);
}

.theme-light img[alt*="supernote-invert-light"] {
    filter: invert(1);
}

.theme-dark img.supernote-invert-dark {
    filter: invert(1);
}

.theme-light img.supernote-invert-light {
    filter: invert(1);
}

button.mod-cta {
    display: block;
}

.page-recognized-text {
    user-select: text; 
    white-space: pre-line; 
    margin: 1.2em 0;
}

div.page-container {
    display: inline-block; 
    vertical-align: top;
    margin: 1.2em;
}